torch
torchvision
protobuf
transformers
numpy
torchtext
urllib3
requests
boto3
websocket
websockets
libp2p_kit_py
ipfs_kit_py
ipfs_faiss_py
ipfs-model-manager-py>=0.0.14
ipfs_transformers_py
ipfs-datasets-py>=0.0.5
ipfs_agents_py
ipfs-accelerate-py>=0.0.8
orbitdb-kit-py>=0.0.9






