[submodule "swissknife"]
	path = swissknife
	url = https://github.com/endomorphosis/swissknife.git
	branch = main
[submodule "ipfs_datasets_py"]
	path = ipfs_datasets_py
	url = https://github.com/endomorphosis/ipfs_datasets_py.git
	branch = main
[submodule "ipfs_accelerate_py"]
	path = ipfs_accelerate_py
	url = https://github.com/endomorphosis/ipfs_accelerate_py.git
	branch = main
[submodule "ipfs_kit_py"]
	path = ipfs_kit_py
	url = https://github.com/endomorphosis/ipfs_kit_py.git
	branch = main
