node_modules
package-lock.json
ipfs_kit_lib/bin/*
config/config.toml
out
dist
build
config.toml
.venv
.pyc
__pycache____pycache__

# Playwright test results
test-results/
playwright-report/
playwright/.cache/
